**/.idea
.DS_Store
venv/
**/cmake-build-debug
**/.PVS-Studio
*/**/*.pcap
*/**/*.pcapng
*/**/*.so
data/test/*
*/**/__pycache__
*/**/*.c
build/
src/pre_process/1_filter
src/pre_process/3_field_extraction
src/pre_process/2_split_connection
models/
example.log
**/.env
data/
**/*.log
nohup.out